@import url("reset.css");
@import url("fonts.css");
@import url("components/header.css");
@import url("components/footer.css");

body {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  color: #000;
}

h1 {
  font-family: "WADIK", sans-serif;
  font-weight: 600;
  font-size: clamp(37px, 6.25vw, 64px);
}

h2 {
  font-family: "WADIK", sans-serif;
  font-weight: 700;
  font-size: clamp(30px, 6.25vw, 48px);
}

h3 {
  font-family: "WADIK", sans-serif;
  font-weight: 700;
  font-size: clamp(30px, 6.25vw, 64px);
}

p {
  font-family: "Hauora", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.36;
}

mark {
  background-color: transparent;
  color: #ff0000;
}

.link,
.link-inside {
  color: #0000fe;
}

.link-inside {
  font-weight: 800;
}

.link-hover {
  transition: all 0.3s ease-in-out;
}

.link-hover:hover {
  opacity: 0.7;
}

/* Анимация закрашивания текста, с отслеживанием его появления */
.animated-text {
}

.highlight-span {
  display: inline;
  background: linear-gradient(to right, #0000fe 0%, #0000fe 100%) no-repeat left
    bottom;
  background-size: 0% 100%;
  transition: background-size 1s ease-out;
}

.highlight-span.visible {
  background-size: 100% 100%;
}

main {
  flex: 1;
}

.container {
  max-width: 1440px;
  width: 100%;
  padding: 0 clamp(16px, 3vw, 40px);
  margin: 0 auto;
}

.lock {
  overflow: hidden;
}

.mobile-menu {
  display: none;
}

@media (max-width: 768px) {
  .mobile-menu {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    width: 375px;
    max-height: 812px;
    height: 100vh;
    background: white;
    transition: right 0.3s;
    z-index: 100;
  }

  .mobile-menu__wrapper {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 15px 50px 15px;
  }

  .mobile-menu-list {
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-top: 80px;
    font-family: "Hauora", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #171717;
  }

  .mobile-menu-list li a.active {
    color: #0000fe;
  }

  .mobile-menu.active {
    right: 0;
  }

  .close-button {
    position: absolute;
    top: 32px;
    right: 17px;
    width: 24px;
    height: 24px;
    cursor: pointer;
  }

  .mobile-menu__items {
    display: flex;
    align-items: flex-end;
    gap: 50px;
    margin-top: auto;
  }

  .mobile-menu__items ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .mobile-menu__social {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
  }
}

.button {
  font-family: "Hauora", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: normal;
  color: #fff;
  padding: 10px 30px;
  border-radius: 25px;
  background-color: #0000fe;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.button:hover {
  background-color: #0000ca;
}

.button:active {
  background-color: #000c74;
}

.social-button-blue {
  fill: #0000fe;
  transition: fill 0.3s ease;
  cursor: pointer;
}

.social-button-blue:hover {
  fill: #0000ca;
}

.social-button-blue:active {
  fill: #000c74;
}

.social-button-black {
  fill: #171717;
  transition: fill 0.3s ease;
  cursor: pointer;
}

.social-button-black:hover {
  fill: #0000fe;
}

.social-button-black:active {
  fill: #000c74;
}

.button-white {
  width: fit-content;
  font-family: "Hauora", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #0000fe;
  padding: 10px 30px;
  border-radius: 25px;
  background-color: #fff;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.color-white {
  color: #fff;
}

.social-list {
  display: flex;
  align-items: center;
  gap: 15px;
}

.button-up {
  position: fixed;
  bottom: 255px;
  right: 40px;
  width: 40px;
  height: 40px;
  fill: #fff;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
  z-index: 9999;
}

.button-up.visible {
  opacity: 1;
  visibility: visible;
}

.button-up:hover {
  fill: #0000fe;
}

.button-up path {
  fill: #171717;
}

.button-up:hover path {
  fill: #fff;
}

.button-up circle {
  stroke: #171717;
}

.button-up:hover circle {
  stroke: #0000fe;
}
