.header {
  width: 100%;
  position: absolute;
  top: 20px;
  left: 0;
  z-index: 100;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  width: 210px;
  height: 60px;
  background: #d9d9d9;
}

@media screen and (max-width: 900px) {
  .header__logo {
    width: 108px;
    height: 50px;
  }
}

@media screen and (max-width: 400px) {
  .header__logo {
    width: 79px;
    height: 40px;
  }
}

@media screen and (max-width: 768px) {
  nav {
    display: none;
  }
}
.header__nav {
  display: flex;
  align-items: center;
  gap: 77px;
  color: #000;
}

.header__nav li {
  font-family: "Hauora", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.header__button {
  padding: 10px 30px;
  border-radius: 25px;
  color: #fff;
  background-color: #0000fe;
}

.header__burger {
  display: none;
}
@media screen and (max-width: 768px) {
  .header__burger {
    display: block;
    width: 24px;
    height: 16px;
    cursor: pointer;
    animation: fadeIn 0.3s ease forwards;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
