.calculate {
  width: 100%;
  background: var(--white-color);
}

.calculate__wrapper {
  display: flex;
  flex-direction: column;
  padding: 281px 0 140px 0;
}

@media screen and (max-width: 768px) {
  .calculate__wrapper {
    padding: 210px 0 140px 0;
  }
}

@media screen and (max-width: 400px) {
  .calculate__wrapper {
    padding: 160px 0 90px 0;
  }
}

.calculate__wrapper h1 {
  font-weight: 700;
  color: var(--accent-color);
  text-align: center;
}

.calculate__form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form-items {
  display: grid;
  grid-template-columns: minmax(auto, 1fr) minmax(480px, 1fr);
  gap: 20px;
}

.form-items:last-child {
  border-top: 1.5px solid var(--black-color);
}

.form-title {
  display: flex;
}

.form-title h2 {
  font-family: var(--third-family);
  font-weight: 700;
  font-size: clamp(29px, 4.8vw, 48px);
  color: var(--black);
}

@media screen and (max-width: 959px) {
  .form-items {
    grid-template-columns: minmax(auto, 232px) minmax(480px, 1fr);
  }
}

.form-groups {
  max-width: 670px;
  width: 100%;
  display: flex;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  max-width: 325px;
  width: 100%;
}

.form-group label {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  color: var(--black);
}
select,
::picker(select) {
  appearance: base-select;
  border: none;
}

select:focus {
  outline: none;
}

option::checkmark {
  content: "";
}

select {
  border-radius: 0;
  border-bottom: 1.5px solid var(--black-color);
}

select::picker-icon {
  content: url("../../icons/picker-icon.svg");
  padding-right: 5px;
  transition: 0.4s rotate;
}

select:open::picker-icon {
  rotate: 180deg;
}

::picker(select) {
  opacity: 0;
  transition: all 0.4s allow-discrete;
}
:open::picker(select) {
  opacity: 1;
}

#langFrom::picker(select) {
  height: 300px;
  overflow: auto;
  background: var(--white-color);
}

::picker(select)::-webkit-scrollbar {
  width: 0;
}

option {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--black-color);
  padding: 5px 0 5px 0;
}

option:hover {
  background: var(--light-grey-color);
}

option:checked {
  background: var(--light-grey-color);
}

option:first-of-type {
  margin-top: 5px;
}

.form-document {
  max-width: 670px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 25px;
}

.form-select {
  gap: 6px;
}

.wide-group {
  max-width: 670px;
  width: 100%;
}

.wide-group select {
  padding: 10px 0;
  margin-top: 24px;
}

.wide-group input {
  padding: 5px;
  border-bottom: 1.5px solid var(--black-color);
}

.wide-group h3 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  color: var(--black-color);
}
.group-item {
  display: flex;
  align-items: center;
  gap: 15px;
}

.group-item.group-item_type_center {
  align-items: flex-start;
  margin-top: 15px;
}
.group-item p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--black-color);
}

input[type="radio"] {
  accent-color: var(--accent-color);
  width: 20px;
  height: 20px;
  display: flex;
  flex-shrink: 0;
}

.add-services {
  align-items: center;
}

.form-result {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.form-result h3 {
  font-family: var(--third-family);
  font-weight: 700;
  font-size: clamp(29px, 2.57vw, 37px);
  color: var(--accent-color);
}

.result-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.price-display {
  font-family: var(--third-family);
  font-weight: 700;
  font-size: 37px;
  text-align: right;
  color: var(--black-color);
}

.price-display.error {
  color: red;
  font-weight: bold;
}

.price-note {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--black-color);
  margin-top: 20px;
}

.calculate-button {
  margin: 30px 0 0 auto;
}

@media (max-width: 768px) {
  .form-groups {
    flex-direction: column;
  }
  .form-items:first-child .form-groups {
    flex-direction: row;
  }
  .form-items:first-child .form-title {
    align-items: end;
  }
  .result-item {
    flex-direction: column;
    align-items: flex-end;
  }
  .form-document {
    margin-top: 25px;
  }
  .wide-group select {
    margin-top: 30px;
  }
  .rate-groups {
    margin-top: 15px;
  }
  .form-result {
    margin-top: 20px;
  }
  .result-item {
    gap: 10px;
  }
}
@media (max-width: 745px) {
  .form-items {
    grid-template-columns: 1fr;
  }
  .form-groups,
  .form-items:first-child .form-groups {
    flex-direction: column;
  }
  .form-group {
    max-width: 100%;
  }
  .form-document {
    margin-top: 0;
  }
  .rate-groups {
    margin-top: 0;
  }
  .group-item.group-item_type_center {
    margin-top: 20px;
  }
  .form-result {
    margin-top: 0;
  }
  .calculate-button {
    width: 100%;
  }
}
