.hero {
  width: 100%;
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
  padding: 110px 0 70px 0;
  position: relative;
}

@media screen and (max-width: 768px) {
  .hero__wrapper {
    padding: 100px 0 70px 0;
  }
}

@media screen and (max-width: 400px) {
  .hero__wrapper {
    padding: 90px 0 70px 0;
  }
}

.special-text,
.main-text,
.special-text-down,
.main-text-down {
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.special-text {
  width: fit-content;
  font-family: "WADIK", sans-serif;
  font-weight: normal;
  font-size: clamp(60px, 13.3vw, 192px);
  line-height: 100%;
  color: #fff;
  padding: 10px;
  background-color: #0000ca;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .special-text {
    font-size: clamp(65px, 15.6vw, 120px);
  }
}

.main-text {
  width: fit-content;
  font-family: "Hauora", sans-serif;
  font-weight: 700;
  font-size: clamp(60px, 16.5vw, 240px);
  line-height: 1.2;
  text-transform: uppercase;
  color: #797979;
  padding: 10px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .main-text {
    padding: 10px 0;
  }
}

.special-text-down {
  width: fit-content;
  font-family: "WADIK", sans-serif;
  font-weight: 400;
  font-size: clamp(56px, 21vw, 305px);
  line-height: 0.6;
  text-transform: uppercase;
  color: #dedede;
  padding: 10px;
  margin-left: auto;
  cursor: pointer;
}

.main-text-down {
  width: fit-content;
  font-family: "WADIK", sans-serif;
  font-weight: 600;
  font-size: clamp(60px, 13.2vw, 192px);
  line-height: 100%;
  text-transform: uppercase;
  color: #0000ca;
  cursor: pointer;
  padding: 0 0 10px 0;
}

@media screen and (max-width: 900px) {
  .main-text-down {
    line-height: 1.2;
  }
}

@media screen and (max-width: 768px) {
  .main-text-down {
    font-size: clamp(47px, 13vw, 100px);
  }
}

@media screen and (max-width: 400px) {
  .main-text-down {
    padding: 0;
    font-size: 47px;
  }
}

.hero__item {
  max-width: min-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 20px 20px 10px 0;
  position: absolute;
  top: 49%;
  left: 0;
}

@media screen and (max-width: 900px) {
  .hero__item {
    position: static;
  }
}

@media screen and (max-width: 768px) {
  .hero__item {
    max-width: 100%;
    padding: 20px 0 0 0;
  }
}

@media screen and (max-width: 400px) {
  .hero__item {
    max-width: 100%;
    padding: 25px 0 0 0;
  }
}

.hero__item h3 {
  font-family: "WADIK", sans-serif;
  font-weight: 600;
  font-size: 50px;
  line-height: 1.2;
  color: #000;
  white-space: nowrap;
}

@media screen and (max-width: 1200px) {
  .hero__item h3 {
    font-size: 35px;
  }
}

@media screen and (max-width: 900px) {
  .hero__item h3 {
    font-size: 54px;
  }
}

@media screen and (max-width: 768px) {
  .hero__item h3 {
    font-size: clamp(28px, 7.03vw, 54px);
  }
}

@media screen and (max-width: 400px) {
  .hero__item h3 {
    white-space: wrap;
  }
}

.hero__item h4 {
  font-family: "WADIK", sans-serif;
  font-weight: 600;
  font-size: 60px;
  line-height: 1.2;
  color: #0000fe;
  white-space: nowrap;
}

@media screen and (max-width: 1200px) {
  .hero__item h4 {
    font-size: 40px;
  }
}

@media screen and (max-width: 900px) {
  .hero__item h4 {
    font-size: 66px;
  }
}

@media screen and (max-width: 768px) {
  .hero__item h4 {
    font-size: clamp(31px, 8.6vw, 66px);
  }
}

@media screen and (max-width: 400px) {
  .hero__item h4 {
    font-size: 31px;
  }
}

.hero__item p {
  font-family: "Hauora", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
  margin: 20px 0 20px 0;
}

@media screen and (max-width: 768px) {
  .hero__item p {
    margin: 10px 0 20px 0;
  }
}

@media screen and (max-width: 400px) {
  .hero__item p {
    line-height: 1.3;
    margin: 10px 0 35px 0;
  }
}

.hero__item p a {
  font-family: "Hauora", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #0000fe;
}

.hero__button {
  width: fit-content;
  font-family: "Hauora", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  padding: 10px 30px;
  border-radius: 25px;
  background-color: #0000fe;
  margin-left: auto;
}

@media screen and (max-width: 400px) {
  .hero__button {
    width: 100%;
    text-align: center;
  }
}

/*===SCROLL===*/
.scroll {
  display: flex;
  align-items: center;
  overflow-x: hidden;
  background: #0000fe;
  height: 64px;
}

@media screen and (max-width: 600px) {
  .scroll {
    height: 53px;
  }
}
.scroll div {
  padding: 0;
  white-space: nowrap;
  display: inline-block;
}

.scroll div img {
  display: inline-block;
}

.div1 {
  animation: marquee1 20s infinite linear;
  animation-delay: -20s;
}

.div2 {
  animation: marquee2 20s infinite linear;
  animation-delay: -10s;
}
.scroll div:after {
  content: url(../../images/scroll-line.png);
}

@media screen and (max-width: 600px) {
  .scroll div:after {
    content: url(../../images/scroll-line.png);
  }
}

@keyframes marquee1 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee2 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}

/*===services===*/
.services {
  width: 100%;
}

.services__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 70px 0;
}
