.hero {
  display: grid;
  grid-template-areas: "stack";
  position: relative;
  background: var(--black-color);
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 124px;
  background: linear-gradient(
    180deg,
    rgba(23, 23, 23, 0.5) 0%,
    rgba(23, 23, 23, 0) 100%
  );
  pointer-events: none;
  z-index: 3;
}
/* .hero::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 419px;
  background: linear-gradient(
    0deg,
    #171717 0%,
    rgba(23, 23, 23, 0.86) 13.77%,
    rgba(23, 23, 23, 0) 100%
  );
  pointer-events: none;
  z-index: 3;
} */
.hero picture,
.hero img {
  grid-area: stack;
  width: 100%;
  height: auto;
  z-index: 1;
  position: relative;
}
.hero picture::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 419px;
  background: linear-gradient(
    0deg,
    #171717 0%,
    rgba(23, 23, 23, 0.86) 13.77%,
    rgba(23, 23, 23, 0) 100%
  );
  pointer-events: none;
  z-index: 3;
}
.hero__content {
  position: relative;
  grid-area: stack;
  display: flex;
  flex-direction: column;
  margin-top: 751px;
  align-items: center;
  color: var(--white-color);
  z-index: 5;
  padding: 0 40px 70px 40px;
}

.hero__content h1 {
  font-family: var(--third-family);
  font-weight: 700;
  font-size: clamp(29px, 8.33vw, 67px);
  text-align: center;
}

.hero__content h2 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: clamp(20px, 4vw, 36px);
  text-transform: uppercase;
  margin-top: 20px;
  text-align: center;
}

.hero__button {
  margin-top: 20px;
}

@media screen and (max-width: 1024px) {
  .hero__content {
    margin-top: 660px;
  }
}

@media screen and (max-width: 960px) {
  .hero::before {
    height: 100px;
  }
  .hero__content {
    margin-top: 526px;
    padding: 0 20px 70px 20px;
  }

  .hero__content h2 {
    font-size: 36px;
  }
}

@media screen and (max-width: 480px) {
  .hero__content {
    margin-top: 262px;
    padding: 0 16px 45px 16px;
  }
  .hero__content h1 {
    font-size: 29px;
  }
  .hero__content h2 {
    font-size: 20px;
    margin-top: 10px;
  }
  .hero__button {
    width: 100%;
    text-align: center;
  }
}

/*===services===*/
.services {
  width: 100%;
  background: var(--black-color);
}
.services__wrapper {
  max-width: 1440px;
  width: 100%;
  padding: 120px 40px 140px 40px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .services__wrapper {
    padding: 50px 20px 90px 20px;
  }
}

@media screen and (max-width: 767px) {
  .services__wrapper {
    padding-right: 0;
  }
}
@media screen and (max-width: 480px) {
  .services__wrapper {
    padding: 320px 0 90px 16px;
  }
}
.services__inner {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3.1fr;
  gap: 80px 20px;
}
.services__inner h3 {
  font-family: var(--third-family);
  font-weight: 700;
  font-size: clamp(29px, 4vw, 48px);
  color: var(--white-color);
  margin-top: 115px;
}
.services__inner h3:nth-last-child(2) {
  margin-top: 0;
}
.custom-table {
  max-width: 1017px;
  border-collapse: collapse;
  font-family: system-ui, sans-serif;
}

.custom-table th,
.custom-table td {
  border: 1px solid #ddd;
  padding: 20px;
  text-align: left;
  vertical-align: top;
}
.custom-table th:first-child {
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
}
.custom-table th h4 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: var(--white-color);
}
.custom-table th p {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: var(--white-color);
  margin-top: 5px;
}
/* Ширина колонок */
.custom-table th:first-child,
.custom-table td:first-child {
  width: 230px;
}

.custom-table th:nth-child(2),
.custom-table td:nth-child(2) {
  width: 261px;
}

.custom-table th:nth-child(3),
.custom-table td:nth-child(3) {
  width: 261px;
}

.custom-table th:nth-child(4),
.custom-table td:nth-child(4) {
  width: 261px;
}
tbody tr td {
  position: relative;
}
tbody tr td h5 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  color: var(--white-color);
  white-space: nowrap;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
tbody tr td .table-langs {
  display: flex;
  gap: 15px;
}
tbody tr td .table-langs {
  margin-bottom: 10px;
}
.custom-table td h6 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  color: var(--white-color);
}
.custom-table td ul {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: var(--white-color);
  display: flex;
  flex-direction: column;
  gap: 2px;
}

@media screen and (max-width: 959px) {
  .services__inner {
    flex-direction: column;
  }
}
@media screen and (max-width: 767px) {
  .table-wrapper {
    overflow-x: auto;
  }
}

.services__other {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  max-width: 503px;
  width: 100%;
  gap: 3px;
}
.services__other-item {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 20px;
}
.services__other-item p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: var(--white-color);
}
.services__other-item span {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  color: var(--white-color);
  max-width: 160px;
  width: 100%;
  text-align: start;
}
