.hero {
  display: grid;
  grid-template-areas: "stack";
  position: relative;
  background: var(--black-color);
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 124px;
  background: linear-gradient(
    180deg,
    rgba(23, 23, 23, 0.5) 0%,
    rgba(23, 23, 23, 0) 100%
  );
  pointer-events: none;
  z-index: 3;
}

.hero::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 450px;
  background: linear-gradient(360deg, #171717 0%, rgba(23, 23, 23, 0) 100%);
  pointer-events: none;
  z-index: 4;
}

.hero picture,
.hero img {
  grid-area: stack;
  width: 100%;
  height: 100%;
  z-index: 1;
  position: relative;
}

.hero__inner {
  position: relative;
  grid-area: stack;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 40px 70px 40px;
}

.hero__content {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  align-items: center;
  color: var(--white-color);
}

.hero__content h1 {
  font-family: var(--third-family);
  font-weight: 700;
  font-size: clamp(29px, 8.33vw, 67px);
  text-align: center;
}

.hero__content h2 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: clamp(20px, 4vw, 36px);
  text-transform: uppercase;
  margin-top: 20px;
  text-align: center;
}

.hero__button {
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .hero::before {
    height: 90px;
  }
  .hero::after {
    height: 252px;
  }
  .hero__inner {
    padding: 0 20px 90px 20px;
  }
}

@media screen and (max-width: 480px) {
  .hero::before {
    height: 110px;
  }
  .hero::after {
    height: 170px;
  }
  .hero__inner {
    padding: 0 16px 45px 16px;
  }
}

/*===languages===*/
.languages {
  width: 100%;
  background: var(--black-color);
}

.languages__wrapper {
  display: flex;
  flex-direction: column;
  padding: 140px 0;
}

@media screen and (max-width: 768px) {
  .languages__wrapper {
    padding: 180px 0 140px 0;
  }
  .hero__content {
    padding: 0 20px 0 20px;
  }
  .hero__content h2 {
    font-size: 36px;
  }
}

@media screen and (max-width: 400px) {
  .languages__wrapper {
    padding: 257px 0 90px 0;
  }
}

.languages__inner {
  display: flex;
}

.languages__title {
  max-width: 210px;
  width: 100%;
}

.languages__title h3 {
  font-family: var(--third-family);
  font-weight: 700;
  font-size: clamp(29px, 3.2vw, 37px);
  color: var(--white-color);
}
